* {
    box-sizing: border-box;
}

body{
    border: 12px solid cornflowerblue;
}

section{
    /*border: 2px solid lightcoral;*/
    margin: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    /*-ms-flex-align: center;*/
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: wheat;

}
nav >  a {
    padding: 12px;
    text-decoration: none;
    border: 1px solid black;
}

.div-main{
    /*border: 2px solid green;*/
    margin: 12px;
    display: flex;
    width: 90%;
    flex-flow: column wrap;
}

.t-div{
    display: flex;
    flex-direction: row;
    /*border: 2px solid grey;*/
}


.div-child{
    border: 2px solid black;
    margin: 5px;
    width: 33%;
    padding: 2px;
    text-align: justify;
}

 /* .div-child p{*/
 /*    margin: 0;*/
 /*    padding: 0;*/
 /*}*/

aside{
    border: 2px solid deepskyblue;
    display: flex;
    width: 10%;
    flex-wrap: wrap;
    /*margin: 12px;*/
    padding: 8px;
}

@media screen and (max-device-width : 480px) {
    body{
        background-color: wheat;
        margin: 0;
        padding: 0;
    }

    nav{
        font-family: Arial;
        font-size: large;
        text-align: center;
        justify-content: center;
        /*border: 2px solid lightcoral;*/
        margin: 12px;
    }

    nav > a{
        font-size: 42px;
    }

    section{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .div-main{
        /*padding: 12px;*/
        margin: 2px;
    }
    .div-child{
        text-align: center;
        width: 100%;
        margin: 12px;
        padding: 30px;
    }
    .t-div{
        /*padding: 12px;*/
        flex-direction: column;
    }

    .div-child > p {
        text-align: justify;
        font-size: 20px;
    }
    /*.m-child{*/
    /*    width: 90%;*/
    /*    flex-direction: row;*/
    /*}*/
    img{
        width: 300px;
        height: 380px;
        border: 2px solid black;
    }
    aside{
        border: 2px solid green;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        /*margin: 12px;*/
        padding: 8px;
    }
}

@media screen and (max-device-width : 380px) {
    body{
        background-color: aquamarine;
        margin: 0;
        padding: 0;
    }

    nav{
        font-family: Arial;
        font-size: large;
        text-align: center;
        justify-content: center;
        /*background-color: #f0ff99;*/
        /*border: 2px solid lightcoral;*/
        margin: 12px;
    }

    nav > a{
        margin: 4px;
        font-size: 49px;
    }

    section{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .div-main{
        /*padding: 12px;*/
        margin: 2px;
    }
    .div-child{
        text-align: center;
        width: 100%;
        margin: 12px;
        padding: 30px;
    }
    .t-div{
        /*padding: 12px;*/
        flex-direction: column;
    }

    .div-child > p {
        text-align: justify;
        font-size: 20px;
    }
    /*.m-child{*/
    /*    width: 90%;*/
    /*    flex-direction: row;*/
    /*}*/
    img{
        width: 300px;
        height: 380px;
        border: 2px solid black;
    }
    aside{
        border: 2px solid green;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        /*margin: 12px;*/
        padding: 8px;
    }
}

/*@media  screen and (min-width: 1200px) {*/
/*    */
/*}*/
