* {
    box-sizing: border-box;
}

body{
    /*border: 6px solid cornflowerblue;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: wheat;
    margin: 12px;
}
nav >  a {
    padding: 12px;
    text-decoration: none;
    /*border: 1px solid black;*/
    font-size: 20px;
    margin-left: 12px;
}

section{
    /*border: 2px solid lightcoral;*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.div-main{
    /*border: 2px solid mediumorchid;*/
    margin: 12px;
    display: flex;
    width: 90%;
    flex-flow: column wrap;
}

.t-div{
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    width: 100%;
    margin-bottom: 6px;
    /*border: 2px solid grey;*/
}


.div-child{
    /*border: 2px solid black;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 32%;
    /*height: 90%;*/
    padding: 12px;
    background-color: aquamarine;
}

.div-child > p{
    text-align: justify;
}

.div-child > span{
    text-align: left;
}

img {
    width: 100px;
    height:220px;
}

 /* .div-child p{*/
 /*    margin: 0;*/
 /*    padding: 0;*/
 /*}*/

aside{
    /*border: 2px solid green;*/
    width: 12%;
    height: 35%;
    padding: 8px;
    margin-right: 2px;
    margin-top: 13px;

    display: flex;
    flex-direction: column;
}

aside > div{
    border: 2px solid grey;
    text-align: justify;
    margin-bottom: 6px;
    padding: 2px;
}

@media screen and (max-device-width : 480px) {
    body{
        /*background-color: wheat;*/
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav{
        font-family: Arial;
        font-size: large;
        text-align: center;
        justify-content: center;
        /*border: 2px solid lightcoral;*/
        margin: 12px;
    }

    nav > a{
        font-size: 42px;
    }

    section{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .div-main{
        /*padding: 12px;*/
        margin: 2px;
    }
    .div-child{
        text-align: center;
        width: 100%;
        margin: 12px;
        padding: 30px;
    }
    .t-div{
        /*padding: 12px;*/
        flex-direction: column;
        font-size: 42px;
    }

    .div-child > p {
        text-align: justify;
        /*font-size: 43px;*/
    }
    /*.m-child{*/
    /*    width: 90%;*/
    /*    flex-direction: row;*/
    /*}*/
    img{
        width: 200px;
        height: 280px;
        /*border: 2px solid black;*/
    }
    aside{
        /*border: 2px solid green;*/
        display: flex;
        width: 100%;
        font-size: 40px;
        flex-wrap: nowrap;
        /*margin: 12px;*/
        padding: 8px;
    }
}

@media screen and (max-device-width : 380px) {
    body{
        /*background-color: darksalmon;*/
        margin: 0;
        padding: 0;
    }

    nav{
        font-family: Arial;
        font-size: large;
        text-align: center;
        justify-content: center;
        /*background-color: #f0ff99;*/
        /*border: 2px solid lightcoral;*/
        margin: 12px;
    }

    nav > a{
        margin: 4px;
        font-size: 49px;
    }

    section{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .div-main{
        /*padding: 12px;*/
        margin: 2px;
    }
    .div-child{
        text-align: center;
        width: 100%;
        margin: 12px;
        padding: 30px;
    }
    .t-div{
        /*padding: 12px;*/
        flex-direction: column;
        font-size: 48px;
        /*border: 2px solid red;*/
    }

    .div-child > p {
        text-align: justify;
        font-size: 45px;
    }
    /*.m-child{*/
    /*    width: 90%;*/
    /*    flex-direction: row;*/
    /*}*/
    img{
        width: 300px;
        height: 380px;
        border: 2px solid black;
    }
    aside{
        border: 2px solid green;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        /*margin: 12px;*/
        padding: 8px;
        font-size: 45px;
    }
}

/*@media  screen and (min-width: 1200px) {*/
/*    */
/*}*/
